* {
    padding: 0; margin: 0;
}

.main {
    background: black;
    display: block;
    margin: 0 auto;
    width: 600px;
    position: relative;
}

canvas{
    margin: 0 auto;
    display: block;
}

#play{
    position: absolute;
    padding: 10px 40px;
    width: 200px;
    top: 425px;
    left: 200px;
    border: none;
    background-color: #00407f;
    font-family: "comic sans ms";
    color: white;
    font-size: 20px;


    /* right: 200px; */
}